#nav-bar {
    position: fixed;
    top:0;
    width: 100%;
    background-color: orange;
    }
    
    @media {
     body {
       background-color: lightblue;
     }
    }
    
    .flex-container {
      display: flex;
      background-color: red;
    }
    #header-img {
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 1px;
      width: 150px;
    }